<html lang="en">

<head><title>Document<%= title %></title></head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>Blog</h1>
        </a>
        <p>A net ninjas site</p>
      </div>
      <ul> 
        <li>
          <a href="/">Blogs</a>
        </li>
        <li>
          <a href="/views/about">about</a>
        </li>
        <li><a href="/blogs/create">new blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut
        blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut
        blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut
        blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    </div>


  </body>

</html>